    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.cust_firstname}}" placeholder="First Name" name="cust_firstname" required>
            <label for="floatingInput">First Name</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.cust_lastname}}" placeholder="Last Name" name="cust_lastname" required>
            <label for="floatingInput">Last Name</label>
        </div>
    </div>

    <div class="col-12 text-start">
        <div class="form-floating mb-3">
            <textarea class="form-control" id="floatingInput" placeholder="Address" name="cust_address" style="height: 100px" required>{{this.cust_address}}</textarea>
            <label for="floatingInput">Address</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Phone" value="{{this.cust_phone}}" name="cust_phone" required>
            <label for="floatingInput">Phone</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email" value="{{this.cust_email}}" name="cust_email" required>
            <label for="floatingInput">Email</label>
        </div>
    </div>

    {{!-- <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Status" name="cust_status">
            <label for="floatingInput">Status</label>
        </div>
    </div> --}}

    <div class="col-12">
        </div class="col-12 d-grid">
        <button class="btn btn-success" type="submit">Submit</button>
    <div >
    </div>